# Environment
DJANGO_ENV=dev

# General Settings
SECRET_KEY=your-secret-key-here

# Development Environment
# Set to '1' for True, '0' for False
DEV_DEBUG=1
PROD_DEBUG=0

# Development Database (PostgreSQL)
DEV_DB_NAME=songlist_dev
DEV_DB_USER=your_dev_user
DEV_DB_PASSWORD=your_dev_password
DEV_DB_HOST=your_dev_host
DEV_DB_PORT=5432

# Production Database (PostgreSQL)
PROD_DB_NAME=songlist_prod
PROD_DB_USER=your_prod_user
PROD_DB_PASSWORD=your_prod_password
PROD_DB_HOST=your_prod_host
PROD_DB_PORT=5432

# Hosts
PROD_ALLOWED_HOSTS=your_prod_allowed_host
DEV_ALLOWED_HOSTS=your_dev_allowed_host
